body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}

/* Prototyping / keeping track of font wizadry */
.modern {
  font-family: 'Audiowide', cursive;
}

.elite {
  font-family: 'Special Elite', cursive;
}

.marked {
  font-family: 'Permanent Marker', cursive;
}

h1, h2 {
  font-family: 'Special Elite', cursive;
}

h3 {
  font-family: 'Permanent Marker', cursive;
}
